.hero {
  width: 100%;
  height: 100%;
}

.overordnet_div {
  background-color: #e5edda;
  padding: 2%;
  line-height: 1.5;
}

.b2b_container {
  margin-top: 5rem;
}

.moedelokale_kasse {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.moedelokale_kasse img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid_text {
  margin: 10px;
  background-color: #decbb4;
  padding: 15px;
}

.pris {
  font-weight: 300;
  margin-top: 5px;
}

.shopte_container {
  display: grid;
  place-items: center;
  height: 10vh;
  margin-top: -5rem;
  margin-bottom: 5rem;
}

.shop_te {
  background-color: #7c816b;
  color: #fff9ed;
  padding: 1rem 3rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
}

.send_knap {
  background-color: #7c816b;
  color: #fff9ed;
  padding: 1rem 3rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
  text-transform: uppercase;
}

#fornavn,
#efternavn,
#email {
  width: 300px;
  height: 25px;
}

#besked {
  width: 300px;
  height: 60px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.kontaktform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-felt {
  margin-bottom: 10px;
}

.shopte_container {
  margin-top: 1rem;
}

.moedelokale_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-content: start;
  margin-bottom: 5%;
}

@media (min-width: 800px) {
  .overordnet_div {
    padding: 20px;
    line-height: 1.7;
  }

  .grid_1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    background-color: #e5edda;
    margin: 2%;
    line-height: 1.5;
  }

  .grid_1 {
    grid-template-columns: 1fr 1fr;
    margin: 3rem;
    line-height: 1.7;
  }

  .grid_1 label {
    font-family: "Josefin Sans", sans-serif;
    color: #433524;
    font-size: 1rem;
  }

  .moedelokale_grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 10%;
    gap: 10px;
    align-content: start;
  }

  .b2b_container {
    margin-top: 5rem;
    margin-bottom: -70px;
  }
}
