/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: #fff9ed;
}

main {
  max-width: auto;
}

.margin {
  margin: 3rem;
}

footer {
  color: black;
}

/* TEKST START*/
h1 {
  font-family: "Josefin Sans", sans-serif;
  color: #433524;
  font-size: 2rem;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  color: #433524;
  font-size: 1.5rem;
}

h1,
h2 {
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-family: "Josefin Sans", sans-serif;
  color: #433524;
  font-size: 1rem;
}

p {
  font-family: "Josefin Sans", sans-serif;
  color: #433524;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
  max-width: 70ch;
}

a {
  font-family: "Josefin Sans", sans-serif;
  color: #433524;
  font-size: 1rem;
}

a:hover {
  color: #7c816b;
}

@media (min-width: 800px) {
}
