/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: #fff9ed;
}

main {
  max-width: auto;
}

.margin {
  margin: 3rem;
}

footer {
  color: black;
}

/* TEKST START*/
h1 {
  font-family: "Josefin Sans", sans-serif;
  --font-colour: #433524;
  font-size: 2rem;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  color: var(--font-colour);
  font-size: 1.5rem;
}

h1,
h2 {
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-family: "Josefin Sans", sans-serif;
  color: var(--font-colour);
  font-size: 1rem;
}
h4 {
  font-family: "Josefin Sans", sans-serif;
  color: var(--font-colour);
  font-size: 1rem;
}
p {
  font-family: "Josefin Sans", sans-serif;
  color: var(--font-colour);
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}

a {
  font-family: "Josefin Sans", sans-serif;
  color: var(--font-colour);
  font-size: 1rem;
}

a:hover {
  color: #7c816b;
}

.footer_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 6rem;
  margin: 3rem;
}

footer {
  font-weight: 300;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

.sociale_medier_ikoner {
  display: flex;
}

.sociale_medier_ikoner img {
  width: auto;
  height: 55px;
  margin-right: -15px;
}

.footer_text {
  margin-bottom: 0;
}

.tekst_h1,
.tekst_h2 {
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

.tekst_p1 {
  font-weight: 300;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}

.tekst_p2 {
  margin-bottom: 4rem;
  font-weight: 300;
  line-height: 1.5rem;
}

@media (min-width: 800px) {
}
