/*GRIDS*/
.grid_5 {
  display: flex; /* Aktiverer flexbox layout */
  justify-content: space-around; /* Fordeler pladsen mellem og omkring items */
  align-items: center; /* Centrerer items vertikalt */
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
  gap: 20px;
}
.grid_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.grid_4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /* fire kolonner */
  margin-top: 50px;
  gap: 20px;
}
.grid_1 {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 50px;
  gap: 20px;
  background-color: #decbb4;
}
.grid_3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;
  gap: 20px;
}

.kundekonto {
  background-color: #e5edda;
  margin: 0;
  padding: 10px 0;
  margin-top: 50px;
  margin-bottom: 50px;
}

/*KNAPPER*/
.knapsealle {
  background-color: #7c816b;
  color: #fff9ed;
  padding: 1rem 3rem;
  border: none;
  font-size: 1rem;
  cursor: pointer; /* Ændrer cursoren til en pegefinger, når den er over knappen */
  text-transform: uppercase;
}

.knap_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.knap1,
.knap2,
.knap3,
.knap4 {
  background-color: #7c816b;
  color: #fff9ed;
  padding: 10px 50px; /* Tilføjer indre afstand */
  cursor: pointer;
  border: none;
}
.knap {
  cursor: pointer;
  text-decoration: none;
}
.knap ul {
  list-style-type: none;
}

.section1 {
  background-color: #f4e0d8;
  margin-top: 50px;
  padding-bottom: 5px;
}

/* ----- Kode til Bestsellere grid og "kasser" */

.shop_kasse {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.shop_kasse img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.kasse_tekst {
  margin: 10px;
  padding: 15px;
}

.pris {
  font-weight: 300;
  margin-top: 5px;
}

/* ----- Kode til Bestsellere grid og "kasser" slut */

/* ----- Kode til kategorier -----*/

.kategorier {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.9rem;
  text-transform: uppercase;
}

.kategorier img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.kat_tekst {
  background-color: #7c816b;
  color: #fff9ed;
  padding: 1rem;
  position: absolute;
  bottom: 10px;
  left: 3rem;
  right: 3rem;
  margin: 0;
  display: inline-block;
  cursor: pointer;
}

.te_kategori {
  position: relative;
  text-align: center;
  overflow: hidden;
}

/* ----- Kode til kategorier slut -----*/

.logo1 {
  width: 500px;
  margin: 0 auto;
  display: block;
}

.video_container {
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto;
  height: 630px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.video-container video {
  width: 1600px;
  height: 600px;
}

a {
  text-decoration: none;
  font-weight: 400;
}

.info img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.index_container {
  margin-bottom: 5rem;
}

.tekop img {
  width: 100%;
}

@media (min-width: 800px) {
  .grid_5 {
    display: flex; /* Aktiverer flexbox layout */
    justify-content: space-around; /* Fordeler pladsen mellem og omkring items */
    align-items: center; /* Centrerer items vertikalt */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 20px;
  }

  .kategorier {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.9rem;
    text-transform: uppercase;
  }

  .grid_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    gap: 20px;
    background-color: #decbb4;
  }
}
