.shop_grid {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-content: start;
  margin-bottom: 7rem;
  margin: 3rem;
}

.shop_kasse {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.kasse_tekst {
  margin: 10px;
  background-color: #decbb4;
  padding: 15px;
}

.kaffe_tekst {
  margin-top: 4rem;
  background-color: #f4e0d8;
  padding-bottom: 3rem;
  padding: 4rem;
}

p {
  max-width: 72ch;
  margin-top: 1.5rem;
}

.icon {
  width: 19%;
  height: 19%;
  margin-right: 10%;
  margin: 0% auto;
}

.tekst1 {
  display: flex;
}

.pris {
  font-weight: 300;
  margin-top: 5px;
}
.sider {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: span 4;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.side_numre {
  display: inline;
  border: 1px solid #433524;
  padding: 6px 10px;
}
.sider img {
  width: 40px;
}
.produkter {
  display: flex;
  margin-top: 4rem;
  margin-bottom: 2rem;
  margin-left: 3rem;
  font-weight: 300;
  justify-content: space-between;
}
.bestsellere {
  border: 1px solid #433524;
  padding: 2px 10px;
  display: flex;
  align-items: center;
}

.sorter {
  display: flex;
  align-items: center;
}

.sorter1 {
  margin-left: 260%;
}
.bestsellere img {
  width: 40px;
  margin-left: 4rem;
}

.sorter_tekst {
  margin-right: 1.2rem;
}
